server {
    listen       80;
    listen  [::]:80;

    server_name 127.0.0.1 localhost gitea-to-argo;

    location / {
        proxy_set_header Authorization "${GITEA_ARGO_TOKEN}";
        proxy_pass http://argo-workflows-server.argo.svc.cluster.local:2746/;
    }
}
